@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Satoshi', sans-serif;
  background-color: #ffffff; /* White background */
  color: #1c2938; /* Secondary color for text */
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c5cdd6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9aaaba;
}

/* Utility to hide scrollbar but keep functionality */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c5cdd6;
    border-radius: 2px;
}